/* //search bar and search icons  */

.search-container {
    display: flex;
    position: relative;
    right: 10px;
    /* top: 3px; */
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

.search-button {
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

.search-button-active {
    position: absolute;
    background: none;
    width: 40px;
    height: 40px;
    top: 1px;
    border: none;
    align-items: center;
    justify-content: center;
}

.input {
    position: absolute;
    top: -10px;
    left: 300px;
    background-color: var(--black);
    font-size: 1.3rem;
    color: var(--white);
    border: 2px solid var(--blue);
    outline: none;
    padding: 5px;
    transition: all 1.8s ease-out, box-shadow 0.6s ease-in;
    height: 50px;
    width: 500px;
    border-radius: 100px;
    cursor: pointer;
}

.input::placeholder {
    opacity: 0;
    color: var(--white);
    transition: 1.1s liner;
}

.input:hover {
    transition: all 0.4s ease-in;
    box-shadow: 0px 0px 40px rgba(26, 51, 101, 0.5);
}

.input:focus::placeholder {
    opacity: 1;
    transition: 1.1s linear;
}

.input:focus,
.input:not(:placeholder-shown) {
    padding: 10px 20px;
    border-radius: 1000px;
        }

.search-icon {
    position: absolute;
    justify-content: right;
    right: 60px;
    top: 3px;
    color: var(--white);
    font-size: 1.5rem;
    background: none;
}

.search-icon-active {
    color: var(--white);

    font-size: 1.5rem;
    position: absolute;
    justify-content: right;
    left: 320px;
    top: 5px;
    z-index: 100;
    align-items: center;
    justify-content: center;

}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 300px) and (max-width:430px) {
           
    .input {
        justify-content: center;
        align-items: center;
        top: 30px;
        left: -110px;
        width: 15rem;
    }

    .search-icon-active {
        left: -100px;
        top: 39px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width:430px) and (max-width: 720px) {
    .input {
        justify-content: center;
        align-items: center;
        top: 30px;
        left: -110px;
        width: 25rem;
    }

    .search-icon-active {
        left: -100px;
        top: 39px;
    }
}