@font-face {
    font-family: "Vazir";
    src: url("../font/Vazir.ttf");
}

@font-face {
    font-family: "IranSans";
    src: url("../font/IRANSansWeb(FaNum).ttf");
}

* {
    box-sizing: border-box;
    font-family: 'Times New Roman', serif, sans-serif ;
    margin: 0;
    padding: 0;
}

:root {
    --background: rgb(196, 218, 224);
    --white: rgb(255,255, 255);
    --black: rgb(0, 0, 0);
    --black-footer: rgb(33, 33, 33);
    --dark-black: rgba(5, 5, 5, 0.3);
    --black-light: rgb(81, 71, 61);
    --light-gray:rgba(206, 226, 226, 0.7);
    --blue-dark: rgb(1, 85, 241);
    --blue: rgb(71, 137, 234);
    --orange: rgb(255, 255, 255);
    --gray: rgb(88, 93, 107);
}

.wrapper {
    width: 100%;
}



@media all {
    body {
        background: var(--background);
    }
}