.text-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 10px 5px;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

li {
    list-style-type: none;
    padding: 15px;
    padding-left: 30px;
    font-size: 1.1em;
    color: var(--blue);
}

.wrap-image {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    padding-left: 30px;
}

.wrap-image>h3{
    padding-left: 10px;
}

.wrap-image-icon {
    color: var(--blue);
}

.text-p {
    padding: 15px;
    padding-left: 30px;
    font-size: 1.15em;
    margin: 20px auto;
}

.form-category {
    width: 45%;
    border-radius: 20px;
    padding: 20px;
    border: none;
    background-color: rgb(231, 230, 230);
}

.form-button {
    background-color: var(--blue);
    width: 20%;
    border-radius: 10px;
    padding: 20px;
    border: none;
    color: var(--white);
}

@media only screen and (min-width: 320px) and (max-width:620px) {
    .text-container {
        display: flex;
        flex-direction: column;
    }


    ul {
        columns: 1;
        -webkit-columns: 1;
        -moz-columns: 1;
    }

    li {
        list-style-type: none;
        padding: 10px;
        font-size: 1.1em;
        color: var(--blue);
        margin-left: 10px;
    }

    .wrap-image>img {
        width: 50px;
        height: 25px;
        margin-top: 10px;
        margin-top: 10px;
        margin-left: 3px;
    }

    .wrap-image>h2 {
        font-size: 1.1em;
        margin-top: 10px;
        padding-left: 5px;
    }

    .text-p {
        padding-left: 15px;
        font-size: 1.2em;
        margin: 5px auto;
    }

    .form-category {
        width: 50%;
        margin: 10px;
    }

    .form-button {
        width: 40%;
    }
}


@media only screen and (min-width: 620px) and (max-width:720px) {
    .text-container {
        display: flex;
        flex-direction: column;
    }


    ul {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    li {
        list-style-type: none;
        padding: 10px;
        font-size: 1.1em;
        color: var(--blue);
        margin-left: 10px;
    }

    .wrap-image>img {
        width: 50px;
        height: 25px;
        margin-top: 10px;
        margin-top: 10px;
        margin-left: 3px;
    }

    .wrap-image>h2 {
        font-size: 1.1em;
        margin-top: 10px;
        padding-left: 5px;
    }

    .text-p {
        padding-left: 15px;
        font-size: 1.2em;
        margin: 5px auto;
    }

    .form-category {
        width: 50%;
        margin: 10px;
    }

    .form-button {
        width: 40%;
    }
}