.main-footer-container {
    position: fixed absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    color: white;
    text-align: center;
}

.footer-container {
    background-color: var(--black);
    position: fixed relative;
    bottom: 0;
    color: var(--white);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.footer-container--p {
    text-align: justify;
    line-height: 1.8em;
    color: var(--white);
}


.end-footer {
    background-color: var(--black);
    width: 100%;
    position: fixed relative;
    bottom: 0;
    padding: 10px;
}


@media only screen and (min-width: 320px) and (max-width:720px) {
    .footer-container {
        display: block;
    }
}