.container-page-data {
    width: 80%;
    padding: 150px;
    line-height: 1.5em;
    text-align: justify;
}

.container-page-data>h3 {
    font-size: 1.5em;
    padding: 10px;
    margin-top: 15px;
}

.container-page-data>h4 {
    font-size: 1.2em;
    padding: 10px;
    margin-top: 15px;
}