.sidebar-dash {
    flex: 1;
    /* max-width: 150px;  */
    height: calc(100vh - 100px);
    background-color: rgb(208, 231, 231);
    position: sticky;
}

.sidebar-wrapper {
    padding: 20px;
    color: #555;
}

.sidebar-menu {
    margin-bottom: 10px;
}

.sidebar-title {
    font-size: 1.0  5rem;
    color: rgb(187, 187, 187);
}

.sidebar-list {
    list-style: none;
    padding: 5px; 
}

.sidebar-list-item {
    padding: 5px;
    cursor: pointer;
    display: flex;
     align-items: center;
    color: rgb(66, 65, 65);
    border-radius: 10px;
}

.sidebar-list-item.active,
.sidebar-list-item:hover {
    background-color: rgb(230, 240, 246);
}

.sidebar-icon {
    margin-right: 5px;
    font-size: 18px !important;
    color: blue;
}  